MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=blogging
APP_PORT=8888

# For Docker Compose:
# SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/blogging
# SPRING_DATASOURCE_USERNAME=root
# SPRING_DATASOURCE_PASSWORD=root

